<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js TODO APP</title>
  <link rel="stylesheet" href="./style.css">
  <script>
    function clock() {
    var myDay = new Array("日","月","火","水","木","金","土");
    var now  = new Date();
    var year = now.getFullYear(); // 年
    var month = now.getMonth()+1; // 月
    var date = now.getDate(); // 日
    var day = now.getDay();
    var hour = now.getHours(); // 時
    var min  = now.getMinutes(); // 分
    var sec  = now.getSeconds(); // 秒
    
    // 数値が1桁の場合、頭に0を付けて2桁で表示する指定
    if(hour < 10) { hour = "0" + hour; }
    if(min < 10) { min = "0" + min; }
    if(sec < 10) { sec = "0" + sec; }

    var clock2 = year + '-' + month + '-' + date + '（' + myDay[day] + '曜日）'  + hour + '時' + min + '分' + sec + '秒';
    
    document . getElementById( 'clock-02' ) . innerHTML= clock2 . toLocaleString(); // div id="clock-02"
    
    // 1000ミリ秒ごとに処理を実効
    window . setTimeout( "clock()", 1000);
    }
    window . onload = clock;
    </script>
</head>
<header>
  <h1>
    <a>TODO LIST</a>
  </h1>
</header>
<body>
  <div style="text-align:center" id="clock-02"></div>
  <div id="to-do">
    <p>
      NewTask:
      <input type="text" v-model="newTask"><br>
      <label>期日: <input type="date" v-model="newDate"></label>
      <button @click="addTodo()">Add</button>
    </p>
    <div class="mybox">
    <ul>
      <li v-for="todo in todos">
        <input type="checkbox" v-model="todo.isCompleted" style="accent-color: #EF858C">
        <span :class="{ 'complete': todo.isCompleted }">{{ todo.task }}{{ todo.date }}</span>
        <button @click="deleteTodo(todo)">Delete</button>
      </li>
    </ul>
  </div>
  </div>

  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="./main.js"></script>

</body>

</html>