<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Vue.js TODO APP</title>
  <link rel="stylesheet" href="./style.css">
</head>
<header>
  <h1>
    <a>TODO LIST</a>
  </h1>
</header>
<body>
  <div style="text-align:center" id="clock-02"></div>
  <div id="to-do">
    <p>
      NewTask:
      <input type="text" v-model="newTask"><br>
      <label>期日: <input type="date" v-model="newDate"></label>
      <button @click="addTodo()">Add</button>
    </p>
    <div class="mybox">
    <ul>
      <li v-for="todo in todos">
        <input type="checkbox" v-model="todo.isCompleted" style="accent-color: #EF858C">
          <span :class="{ 'complete': todo.isCompleted }">{{ todo.id }}:{{ todo.task }}{{ todo.date }}</span>
        <button @click="editTask(todo.id)">edit</button>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>
  </div>

  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="./main.js"></script>

</body>

</html>